body {
    background-image: url("../img/blueprint-dark.png");
}


.noise-module-container {
	font-family: 'ProximaNovaRgRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #4c4c4c;
}

.noise-module-node {
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin: 10px;
	display: inline-block;
	/* position: absolute; */
	/* position: relative; */
    z-index: 9;
}

.noise-module-node header {
    background-color: #F8F8F8;
    border-bottom: 1px solid #DBDBDB;
    /* font-size: 9px; */
    overflow: hidden;
    padding: 0em 0.4em 0.1em;
    cursor: move;
    z-index: 10;
}

.noise-module-node header h6 {
	text-decoration: none;
	border-radius: 5px 5px 0 0;
	padding-bottom: 5px;
	font-size: 11px;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
	text-transform: uppercase;
}

.noise-module-node section {
	background: #fff;
	width: 162px;
	overflow: hidden;
	padding: 16px 20px 20px 20px;
	position: relative;
}

.noise-module-node section input[type="range"] {
    -webkit-appearance: none;
    background-color: #303030;
    height: 2px;
    display: block;
    margin-left: 0px;
	margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}

.noise-module-node div.nm-slider-info {
	font-size: 10px;
	margin-bottom: 1px;
	overflow: hidden;
	padding-bottom: 3.4px;
	position: relative;
}

.noise-module-node .nm-slider-info span.nm-label {
	font-size: 10px;
	display: inline;
	float: left;
	text-transform: uppercase;
	width: 49%;
}

.noise-module-node .nm-slider-info span.nm-value {
	display: inline;
	float: right;
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
	width: 49%;
}

.noise-module-node section img.nm-play-button {
	display: block;
	margin: 0 auto;
	height: 48px;
	width: 48px;
	cursor: pointer;
}

.noise-module-node section img.nm-play-button.play {
    background-image: url("../img/play_48.png");
}

.noise-module-node section img.nm-play-button.stop {
    background-image: url("../img/stop_48.png");
}

.noise-module-node section img.nm-play-button.pause {
    background-image: url("../img/pause_48.png");
}

.noise-module-node section canvas {
	background-image: url("../img/blueprint-dark.png");
	display: inline-block;
	width: 100%;
}


.noise-module-node section .pre-amp input[type="range"],
.noise-module-node section .eq-band input[type="range"] {
	/*transform: rotate(90deg);*/
}

.noise-module-node footer {
    background-color: #F8F8F8;
    border-top: 1px solid #DBDBDB;
    font-size: 9px;
    font-style: italic;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
    padding: 0em 0.4em 0.1em;
}
